<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfred Assistant</title>

    <!-- Collega il file CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Collega il file JavaScript -->
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    
    <h1>Welcome to Alfred</h1>

    <!-- Sezione per ottenere il meteo -->
    <input type="text" id="cityInput" placeholder="Enter city">
    <button onclick="getWeather()">Get Weather</button>

    <p id="weatherResponse"></p>

    <input type="text" id="commandInput" placeholder="Type a command">
    <button onclick="sendCommand()">Send Command</button>
    <button onclick="voiceCommand()">Usa Comando Vocale</button>

    <!-- Sezione per inserire il nome della canzone -->
    <input type="text" id="songInput" placeholder="Enter song name">
    <button onclick="playSong()">Play Song</button>
    <button onclick="nextSong()">Next Song</button>
    <!-- Bottone per mettere in pausa o riprodurre la canzone -->
    <button id="playPauseButton" onclick="togglePlayPause()">Pause</button>

    <!-- Aggiungi alla coda -->
    <button onclick="addToQueue()">Aggiungi alla coda</button>
    <!-- Riproduci la prossima canzone in coda -->
    <button onclick="playNextInQueue()">Riproduci dalla coda</button>

    <!-- Sezione per visualizzare la coda -->
    <p id="queue">Coda: </p>
    <button onclick="showQueue()">Mostra Coda</button>

    <p id="songResponse"></p>

    <!-- Riquadro per data e ora in tempo reale -->
    <div id="datetime-box">
        <p id="date"></p>
        <p id="time"></p>
    </div>

    <p id="response"></p>

    <button id="create-doc-btn">Crea Documento Google</button>

    

    
</body>
</html>
